.app-logo {
    height: 150%;
    margin: -5px;
    display:inline;
}

.app-bar {
    height: 64px;
    background-color: rgba(33,33,33,0.8);
    position: fixed;
    color: #ffffff;
    width: 100%;
    top: 0;
    z-index: 100;
    display: flex;
}

.appTitle {
    padding: 13px;
    display:inline;
}

.navbar-brand {
    display: inline;
}

.content {
    margin-top: 64px; 
    padding:25px;
}

.home {
    display: flex;
}

.well {
    margin: 10px;
}

.timeline-panel {
    height: 100%;
}

.blog-well {
    flex:1;
    min-width:300px;
}

.timeline {
    width:300px;
    height: 100%;
}

.timeline-heading {
    text-align:center;
}

.new-title {
    width: 100%;
}

.post-box {
    display:none;
}

.submit-button {
    float: right;
    margin-top: 20px;
}

.create-well {
    max-width: 1200px;
    min-width: 300px;
    margin: 0 auto;
}

.post-list-item {
    display: flex;
}

.post-edit-button {
    float: right;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.post-list-buttons {
    position: absolute;
    right:0px;
}
