<!DOCTYPE html>
<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/styles.css"> 
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
        <meta charset="utf-8"> 
        <title>{% block title %}Captain's Log{% endblock %}</title>
    </head>
    <body>
        <div class="appBar">
            <h4 class="appTitle"> Captain's Log </h4>
        </div>
    
        <div class="content" id="content">
             {% block content %}{% endblock %}
        </div>
    </body>
</html>


