{% extends 'App.html' %}

{% block header %} 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{% endblock %}

{% block title %}Editor{% endblock %}

{% block navbar %}
<ul class="nav navbar-nav">
        <li><a class="active" href="/admin/create">Create</a></li>
        <li><a href="/admin/posts">Posts</a></li>
</ul>
{% endblock %}

{% block content %}

{% if popup %}
<div id="modal" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="closeBtn" class="close" data-dismiss="modal">&times;</button>
                {% if new %}
                <h4 class="modal-title">Error!</h4>
                {% else %}
                <h4 class="modal-title">{{ popup }}</h4>
                    <a href="/post/{{Post.ID}}">
                        <button class="btn btn-primary post-edit-button" >
                            View
                        </button>
                    </a>
                {% endif %}
            </div>
                {% if new %}
                    <div class="modal-body">
                        <p>{{ popup }}</p>
                    </div>
                {% endif %}
        </div>
    </div>
</div>
{% endif %}



<div class="well create-well">
    {% if new %}
    <form action="/admin/insert" method="post">
        {% else %}
        <form action="/admin/update/{{Post.ID}}" method="post">
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    Title: <input class="new-title" type="text" name="name" value="{{Post.Name}}">
                </div>
                <div class="panel-body">
                    Post: 
                    <textarea class="post-box" id="editor" type="text" name="body" >{{Post.Body}}</textarea>
                    <input class="submit-button" type="submit" value="Submit">
                </div>
            </div>
        </form>
</div>

<script>
new SimpleMDE({
    element: document.getElementById("editor"),
    spellChecker: true,
});
var modal = document.getElementById("modal")
var close = document.getElementById("closeBtn");
close.addEventListener("click", function(){
    modal.style.display="none";
});
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
} 
document.Ready(modal.style.display="block")
</script>    

{% endblock %}
