{% extends 'App.html' %}

{% block title %}{{post.Name}}{% endblock %}

{% block navbar %}
<ul class="nav navbar-nav">
    <li><a href="/admin/create">Create</a></li>
    <li class="active" ><a href="/admin/posts">Posts</a></li>
</ul>

{% endblock %}


{% block content %}
<div class="home">
    <div class="well blog-well">
        <div class="list-group">
            {% for post in Posts %} 
            <div class="list-group-item post-list-item" >
                <h4 href="/post/{{post.ID}}" class="post-list-title"> 
                    {{post.Name}} 
                </h4>
                <div class="post-list-buttons">
                    <a href="/admin/delete/{{post.ID}}">
                        <button class="btn btn-danger post-edit-button" >
                            Delete
                        </button>
                    </a>
                    <a href="/admin/edit/{{post.ID}}">
                        <button class="btn btn-warning post-edit-button" >
                            Edit
                        </button>
                    </a>
                    <a href="/post/{{post.ID}}">
                        <button class="btn btn-primary post-edit-button" >
                            View
                        </button>
                    </a>
                </div>
            </div>
            {% empty %}
            <a class="list-group-item" href="#" >No Posts! Post Something!</a>
            {% endfor %}
        </div>  
    </div>
</div>
{% endblock %}
